server {
  # Render te asigna $PORT (p.ej 10000+). Usamos variable en runtime.
  listen       ${PORT};
  server_name  _;

  root   /var/www/html/public;
  index  index.php index.html;

  # Redirigir a /public si alguien entra a /
  location / {
    try_files $uri $uri/ /index.php?$query_string;
  }

  # Archivos estáticos
  location ~* \.(jpg|jpeg|png|gif|css|ico|svg|js|woff2?|ttf|eot)$ {
    try_files $uri =404;
    access_log off;
    expires max;
  }

  # PHP a php-fpm (socket)
  location ~ \.php$ {
    include        fastcgi_params;
    fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_pass   unix:/var/run/php-fpm.sock;
    fastcgi_index  index.php;
  }

  # Bloquear .env y dotfiles
  location ~ /\.(?!well-known).* {
    deny all;
  }
}
